.head {
    text-align: center;
    padding-top: 4%;
    size: 20px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.flx-b2 {
    display: flex;
    border: 3px;
    border-right-color: black;
    background-color: antiquewhite;
    gap: 10px;

}

.footer {
    display: flex;
    background-color: black;
    color: aliceblue;
    border-color: #fff;
    padding: 30px;
    text-align: center;

}

.flx-b3 {
    font-family: 'Times New Roman', Times, serif;
    position: relative;
    top: 10px;
   
    display: flex;
    flex-flow: row;
    gap: 20px;

    width: 120%;

}

.h-on-line {
    padding-top: 25px;
}

h2 {
    width: 100%;
    text-align: center;
    border-bottom: 1px solid #000;
    line-height: 0.1em;
    margin: 10px 0 20px;
}

h2 span {
    background: #fff;
    padding: 0 10px;
}


.f {
    padding-left: 5%;
    border-right: 10px;
    border-color: #fff;
    border-left: #fff;
    text-align: left;


}

.pns {
    width: 40%;
}

.b2 {
    border-left: 20px;
}
.f-p{
    font-size: x-small;
}

@media (max-width: 500px) {
    .flx-b2 {
        flex-direction: column;

    }

    .flx-b3 {
        flex-direction: column;
    }

    .footer {
        flex-direction: column;
    }
}
